# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Project-specific files
00X - Template
032 - Automated Birthday Wisher/credentials.py
033 - ISS Overhead Notifier/credentials.py